<h1>Your Cart</h1>
<p>Total Item: {{cart.item_count}}</p>
<p>Total Cost: {{cart.total_price}}</p>

<ul>
  {% for item in cart.items %}
    <li>
      {{item.quantity}} x {{item.product.title}} - {{item.line_price |  money}}
    </li>
  {% endfor %}
</ul>