<h1>{{collection.title |  capitalize}}</h1>
{% paginate collection.products by 2 %}
  <ul>
    {% for product in collection.products %}
      <li>
        <h2>{{product.title}}</h2>
        <p>{{product.price | money}}</p>

        {% if product.available %}
          <p>status: In Stock</p>
        {% else %}
            <p>status: Out of Stock</p>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
  <div>
    <button><a href={{paginate.previous.url}}>{{paginate.previous.title}}</a></button>
    <button><a href={{paginate.next.url}}>{{paginate.next.title}}</a></button>
  </div>
{% endpaginate %}



{% render 'footer' %}